version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  auth-service:
    build: ./auth_service
    ports:
      - "8000:8000"
    depends_on:
      rabbitmq:
        condition: service_healthy

  user-service:
    build: ./user_service
    ports:
      - "8001:8001"
    depends_on:
      rabbitmq:
        condition: service_healthy

  gateway:
    image: devopsfaith/krakend:latest
    ports: 
      - "8080:8080"
    volumes: 
      - ./gateway/krakend.json:/etc/krakend/krakend.json
    depends_on:
      - auth-service
      - user-service